@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #383838;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    
}

nav {
    display: flex;
    width: 100%;
}